/**-------------Logo link color*/
.logo-link {
    padding-top :24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    color: var(--title-text-color);
}
.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14; 
    color: var(--logo-text-color);
}